/*    #42423C  Sombras de nav
      #424874  Azul-Morado   */

body
{
    background: url(../Imagenes/lila.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat;
}
      
.Inicio
{
    width: 15%;
    color: rgba(255, 255, 255, 0.0%);
          font-size: 400%;
          text-align: center;
          position: absolute;
          top: 6%;
      }
      
      #Inicio
      {
          text-decoration: none;
      }

      .Phone
{
	background-color: white;
	border: white 4px solid;
	border-radius: 30px;
	box-shadow: 0.5px 0.5px 7px gray;
	width: 70%;
	max-width: 1000px;
	margin: 20px auto;
}

.Contacto
{
	border-radius: 30px;
	width: 70%;
	max-width: 1000px;
	margin: 20px auto;
}

form
{
    width: 100%;
    border: 2px solid #424874;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 7px gray;
}

label
{
    display: block;
    width: 100%;
    margin-top: 2%;
}

input, textarea
{
    margin-bottom: 10%;
    width: 100%;
    padding: 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus, textarea:focus
{
    border: 1px solid #424874;
}

input[type="submit"]
{
    margin-top: 3%;
    margin-bottom: 1%;
    border: none;
    color: white;
    background: #424874;
}

input[type="submit"]:hover
{
    border: none;
    color: white;
    background: #7079b8;
}

textarea
{
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
}

#Phone
{
	width: 65%;
}


#Cotiza
{
	width: 15%;
	margin: 2% 10%;
}

.kid
{
    width: 90%;
}
      
      .logo
      {
          float:left;
      }
      /*
      header
      {
          color: white;
          text-align: center;
      }
      
      header nav
      {
          overflow: hidden;
      }
      
      header nav ul
      {
          list-style: none;
      }
      
      header nav ul li
      {
          float: left;
      }
      
      header nav ul li a
      {
          
          display: block;
          text-decoration: none;
          color: white;
      }
      
      header, .main
      {
          width: 90%;
          max-width: 1000px;
          margin: 20px auto;
      }*/
      
      footer
      {
          background-color: #424874;
          color: white;
          box-shadow: 0.5px 0.5px 7px gray;
      }
      
      footer div
      {
          display: inline-block;
          margin: 1% 0%;
          font-size: 85%;
          text-align: center;
          width: 30%
      }

      .phones
      {
        color: #424874;
      }

      .phones div
      {
        display: inline-block;
        margin: 0.5% 0%;
        font-size: 85%;
        text-align: center;
        width: 30%
      }


      .MaefiLogo
      {
          width: 150px;
      }

      .navbar-brand
      {
          width: 15%;
      }

      .Nav 
      {
          width: 120px;
      }

      li
      {
          width: 120px;
      }

      .navbar
      {
          font-size: 18px;
      }