/*    #42423C  Sombras de nav
      #424874  Azul-Morado   */

      body
      {
          background-image: url(../Imagenes/MaefiInclinado.png), url(../Imagenes/salmon.jpg);
          background-size: 15%,cover;
          -moz-background-size: ,cover;
          -webkit-background-size: ,cover;
          -o-background-size: ,cover;
          background-repeat: no-repeat,repeat;
          background-position: left top, ;
      }
      
      .Inicio
      {
          width: 15%;
          color: rgba(255, 255, 255, 0.0%);
          font-size: 400%;
          text-align: center;
          position: absolute;
          top: 12%;
      }
      
      #Inicio
      {
          text-decoration: none;
      }
      
      .Nav
      {
          width: 100%;
      }
      
      li
      {
          width: 15%;
      }
      
      .logo
      {
          float:left;
      }
      
      header
      {
          color: white;
          text-align: center;
      }
      
      header nav
      {
          overflow: hidden;
      }
      
      header nav ul
      {
          list-style: none;
      }
      
      header nav ul li
      {
          float: left;
      }
      
      header nav ul li a
      {
          
          display: block;
          text-decoration: none;
          color: white;
      }
      
      header, .main
      {
          width: 90%;
          max-width: 1000px;
          margin: 20px auto;
      }
      
      footer
      {
          background-color: #424874;
          color: white;
          box-shadow: 0.5px 0.5px 7px gray;
      }
      
      footer div
      {
          display: inline-block;
          margin: 1% 1%;
          font-size: 85%;
          text-align: center;
          width: 30%
      }