/*    #42423C  Sombras de nav
      #424874  Azul-Morado   */


/*Antes de la barra de navegación
body
{
	background-image: url(../Imagenes/MaefiInclinado.png), url(../Imagenes/lila.jpg);
	background-size: 13%,cover;
    -moz-background-size: ,cover;
    -webkit-background-size: ,cover;
    -o-background-size: ,cover;
    background-repeat: no-repeat,repeat;
    background-position: left top, ;
    
}
*/

body
{
    background: url(../Imagenes/lila.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat;
}

.Inicio
{
	width: 15%;
	color: rgba(255, 255, 255, 0.0%);
	font-size: 400%;
	text-align: center;
	position: absolute;
	top: 10%;
}

#Inicio
{
	text-decoration: none;
}

.Buscar
{
	position: absolute;
	top: 0%;
	right: 2%;
	width: 20%;
}

.Buscar form
{
	float: right;
	font-size: 70%;
}

/* Antes de la barra de navegación
.Nav
{
	width: 100%;
}

li
{
	width: 15%;
}
*/

.Bienvenida, .Phone
{
	background-color: white;
	border: white 4px solid;
	border-radius: 30px;
	box-shadow: 0.5px 0.5px 7px gray;
	width: 70%;
	max-width: 1000px;
	margin: 20px auto;
}

#Welcome, #Phone
{
	width: 65%;
}

.Hero
{
	width: 30%;
}

#FB
{
	width: 15%;
	margin: 2% 10%;
}

#Superheroes, #Princess
{
	width: 45%;
	border-radius: 30px;
	box-shadow: 0.5px 0.5px 7px gray;
}

.Superheroes, .Princess
{
	border-radius: 30px;
	width: 70%;
	max-width: 1000px;
	margin: 20px auto;
}

.titles
{
	text-align: center;
	background-color: white;
	box-shadow: 0.5px 0.5px 7px gray;
}

.CajaCompleta
{
	border-radius: 30px;
	width: 70%;
	max-width: 1000px;
	margin: 20px auto;
}

.subCaja1, .subCaja2
{
	width: 48%;
	display: inline-block;
}

.d-block
{
	width: 50%;
	border-radius: 10px;
}

#Novedades
{
	width: 53%;
	border-radius: 30px;
	margin-left: 2%;
	box-shadow: 0.5px 0.5px 7px gray;
}

#Temporada
{
	position: absolute;
	width: 36.5%;
	border-radius: 30px;
	margin-left: 1.2%;
	box-shadow: 0.5px 0.5px 7px gray;
}

/*
img
{
	width: 150px;
}

.Nav:hover
{
	background-color: white;
	border-radius: 40px;
	box-shadow: 0.5px 0.5px 7px gray;
}
*/
.logo
{
	float:left;
}

/* Antes de la barra de navegación
header
{
	color: white;
	text-align: center;
}

header nav
{
	overflow: hidden;
}

header nav ul
{
	list-style: none;
}

header nav ul li
{
	float: left;
}

header nav ul li a
{
	
	display: block;
	text-decoration: none;
	color: white;
}

header, .main
{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}
*/

footer
{
	background-color: #424874;
	color: white;
	box-shadow: 0.5px 0.5px 7px gray;
	position: static;
	bottom: 0%;
}

footer div
{
	display: inline-block;
	margin: 1% 0%;
	font-size: 85%;
	text-align: center;
	width: 30%
}

.phones
{
  color: #424874;
}

.phones div
{
  display: inline-block;
  margin: 0.5% 0%;
  font-size: 85%;
  text-align: center;
  width: 30%
}


.MaefiLogo
{
	width: 150px;
}

.navbar-brand
{
	width: 15%;
}

.Nav 
{
	width: 120px;
}

li
{
	width: 120px;
}

.navbar
{
	font-size: 18px;
}

.dropdown-item
{
    font-size: 12px;
}

.dropdown-menu
{
    box-shadow: 0.5px 0.5px 7px gray;
}
