/*    #42423C  Sombras de nav
      #424874  Azul-Morado   */

body
{
    background-image: url(../Imagenes/lila.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat;
}
      
      .Inicio
      {
          width: 15%;
          color: rgba(255, 255, 255, 0.0%);
          font-size: 400%;
          text-align: center;
          position: absolute;
          top: 6%;
      }
      
      #Inicio
      {
          text-decoration: none;
      }
      
      .logo
      {
          float:left;
      }
      
      
      footer
      {
          background-color: #424874;
          color: white;
          box-shadow: 0.5px 0.5px 7px gray;
      }
      
      footer div
      {
          display: inline-block;
          margin: 1% 0%;
          font-size: 85%;
          text-align: center;
          width: 30%
      }
      
      .phones
      {
        color: #424874;
      }

      .phones div
      {
        display: inline-block;
        margin: 0.5% 0%;
        font-size: 85%;
        text-align: center;
        width: 30%
      }

      
.MaefiLogo
{
	width: 150px;
}

.navbar-brand
{
	width: 15%;
}

.Nav 
{
	width: 120px;
}

li
{
	width: 120px;
}

.navbar
{
	font-size: 18px;
}